$header-height: 7.5rem
$header-top: 1rem
$text-color: #212966   
    
@mixin blurred-background($image-url)
  backdrop-filter: blur(5px)
  background-image: url('#{$image-url}')
  background-repeat: no-repeat
  background-position: center

@mixin size($w, $h: $w)
  width: $w
  height: $h

body
    padding: 0
    scroll-behavior: smooth


.cloud_bg_title
    top: -1rem
    left: -2em
    width: 3em
    z-index: -1

#app
    .section
        font-size: 16px
        min-height: 100vh
        .content-inner
            width: 85%
        .content,
        .glass
            position: absolute
            width: 85%
        .content
            > div:first-of-type
                padding-left: 8.5%
            > div:last-of-type
                padding-right: 8.5%
        &:nth-of-type(1)
            .content,
            .glass
                top: calc($header-height + $header-top + 5rem)
                height: 80vh
            .glass
                box-shadow: 4px 4px 10px rgba(25, 51, 81, 0.35)
                backdrop-filter: blur(30px)
                border-radius: 40px
                img:first-of-type
                    @include size(100%)
                    opacity: 0.4
            .app-img
                max-width: 100%
            .app-baibai
                left: -7.75rem
                bottom: -6.5rem
                width: 28em
        &:nth-of-type(2)
            .content,
            .glass
                top: 7rem
                height: 70vh
            .content
                > div:first-of-type
                    padding-left: 7.5%
                > div:last-of-type
                    padding-right: 7.5%
            .glass
                background: rgba(255, 255, 255, 0.1)
                box-shadow: 4px 4px 10px rgba(25, 51, 81, 0.35)
                backdrop-filter: blur(40px)
                border-radius: 40px
            .app-img
                bottom: -6rem
                img
                    width: 60em
                > div
                    margin-left: auto
                    margin-right: auto
                    bottom: 43vh
                    left: 0
                    right: 0
                    letter-spacing: 1px
                    width: 17.167em
                    color: #629BF0
                    background: rgba(255, 255, 255, 0.08)
                    box-shadow: inset 0px 0px 20px #ABDCFF, inset 0px 4px 10px rgba(255, 255, 255, 0.3)
                    backdrop-filter: blur(10px)
                    border-radius: 40px
                    p
                        padding: 1em 1.5em
                        &:first-of-type
                            visibility: hidden
            .app-tab
                display: flex
                flex-wrap: wrap
                padding-top: 3rem
                padding-bottom: 4rem
                a
                    @include size(50%)
                    position: relative
                    img
                        margin-left: auto
                        margin-right: auto
                        height: 100%
                        object-fit: contain
                        transition: filter .25s
                    span
                        position: absolute
                        bottom: -1.25rem
                        left: 0
                        right: 0
                        text-align: center
                    &:hover img:nth-of-type(1)
                        filter: saturate(200%) blur(10px)
                > img
                    top: -3rem
        &:nth-of-type(3)
            .content-inner
                &:first-of-type
                    padding-top: 6.5em
                    padding-bottom: 5em
                    > div:first-of-type
                        padding-left: 7.5%
                    > div:last-of-type
                        padding-right: 7.5%
                &:last-of-type
                    padding-top: 5em
                    padding-bottom: 7.5em
                .app-img
                    img
                        width: 37.5em
                    > div
                        padding: 0.75em .835em
                        top: 0 // 5em
                        left: -2em
                        background: #629BF0
                        border-radius: 40px 40px 0px 40px
                        box-shadow: 4px 4px 10px rgba(25, 51, 81, 0.35)
                        backdrop-filter: blur(30px)
                .app-box
                    padding: 0.75em 1.18em
                    background: rgba(255, 255, 255, 0.1)
                    border-radius: 40px 40px 40px 0px
                    box-shadow: 1px 4px 10px rgba(25, 51, 81, 0.35)
                    backdrop-filter: blur(30px)
                    transform: translateY(50px)
                .app-box-group
                    > div
                        display: inline-flex
                        flex-direction: column
                        align-items: center
                        justify-content: center
                        aspect-ratio: 1/1
                        padding: 1.25em
                        width: 100%
                        background: rgba(255, 255, 255, 0.1)
                        border-radius: 40px
                        box-shadow: 4px 4px 10px rgba(25, 51, 81, 0.35)
                        backdrop-filter: blur(30px)
                        img
                            width: 3.75em
                        > *
                            letter-spacing: 0.12em
        &:nth-of-type(4)
            .content-inner
                padding-top: 8em
                width: 100%
                &:nth-of-type(1),
                &:nth-of-type(2)
                    margin-bottom: 8em
                    .bg-box
                        position: absolute
                        bottom: 0
                        height: 31.75em
                        background: rgba(255, 255, 255, 0.1)
                        border-radius: 0 40px 40px 0
                        box-shadow: 0px 2px 10px rgba(25, 51, 81, 0.35)
                        backdrop-filter: blur(30px)
                    ._leftHelf
                        width: 50%
                        height: 31.75em
                        // background: rgba(255, 255, 255, 0.1)
                        // border-radius: 0 40px 40px 0
                        // box-shadow: 0px 2px 10px rgba(25, 51, 81, 0.35)
                        // backdrop-filter: blur(30px)
                        img
                            margin-left: auto
                            margin-right: auto
                            object-fit: contain
                    ._rightHelf
                        padding-left: 7em
                        padding-right: 7.5%
                &:nth-of-type(1)
                    .bg-box
                        right: 0
                        border-radius: 40px 0 0 40px
                    ._rightHelf
                        order: 1
                    ._leftHelf
                        order: 2
                        img
                            transform: translateY(-8em) scale(1.25)
                &:nth-of-type(2) ._leftHelf img
                    cursor: pointer
                // &:nth-of-type(1),
                // &:nth-of-type(2)
                //     margin-bottom: 8em
                //     .bg-box
                //         position: absolute
                //         bottom: 0
                //         height: 31.75em
                //         background: rgba(255, 255, 255, 0.1)
                //         border-radius: 0 40px 40px 0
                //         box-shadow: 0px 2px 10px rgba(25, 51, 81, 0.35)
                //         backdrop-filter: blur(30px)
                &:last-of-type
                    .swiper-wrapper
                        height: 38.313em
                        .swiper-slide
                            @include size(50%)
                            margin-left: auto
                            opacity: 0
                            transition: opacity 0.55s
                            img
                                margin-left: auto
                                margin-right: auto
                                width: 16em
                                object-fit: contain
                            &.swiper-slide-active
                                opacity: 1
                    .bg-box
                        position: absolute
                        bottom: 0
                        right: 0
                        height: calc(38.313em - 4.438em)
                        background: rgba(255, 255, 255, 0.1)
                        border-radius: 40px 0 0 40px
                        box-shadow: 0px 2px 10px rgba(25, 51, 81, 0.35)
                        backdrop-filter: blur(30px)
        &:nth-of-type(5)
            > div
                &:not(.pt-0)
                    padding-top: 8em
                    &:nth-of-type(2)
                        padding-top: 15em
            .content-inner
                &:not(:last-of-type)
                    max-width: 1200px
                &:last-of-type
                    ._leftHelf
                        padding-left: 7.5%
                    ._rightHelf
                        padding-right: 7.5%
                        img
                            width: 26em
            .tab-wrapper
                width: 100%
                // height: 40.65em
                max-width: 1200px
                .tab-container 
                    text-align: right
                    border-radius: 20px
                    .tabs
                        display: flex
                        justify-content: flex-end
                        .tab
                            padding: 0.75em 1.45em 0
                            margin-left: .5em
                            color: rgba(98, 155, 240, 0.5)
                            box-shadow: 2px 2px 10px rgba(25, 51, 81, 0.35)
                            backdrop-filter: blur(30px)
                            border-radius: 20px 20px 0px 0px
                            transform: translateY(-4.5px)
                            cursor: pointer
                            &::after
                                content: ""
                                position: absolute
                                left: 0
                                right: 0
                                bottom: -0.5em
                                height: 1em
                                background: white
                            &.active
                                color: #629BF0
                                background: #ECF5FF
                                z-index: 10
                                &::after
                                    background: #ECF5FF
                .tab-content
                    position: relative
                    display: flex
                    // justify-content: end
                    padding: 3.75em 2.68em
                    background: linear-gradient(222deg, #ECF5FF 35%, #FFFFFF 65%)
                    border-radius: 40px 0 40px 40px
                    box-shadow: 2px 2px 10px rgba(25, 51, 81, 0.35)
                    backdrop-filter: blur(30px)
                    .tab-pane 
                        display: none
                        margin-left: auto
                        margin-right: 1%
                        min-width: 28em
                        color: #333
                        animation: fadeIn 1s ease-in
                        &.active
                            display: block
                        > img
                            position: absolute
                            left: -20em
                            width: 56em
                            max-width: none
                            object-fit: contain
                        .tab-bc
                            margin-top: 0.75em
                            padding: 0.75em 0.835em
                            background: rgba(255, 255, 255, 0.1)
                            border-radius: 40px 40px 40px 0px
                            box-shadow: 1px 4px 10px rgba(25, 51, 81, 0.35)
                            backdrop-filter: blur(30px)
                        ul
                            gap: 0.675em
                            li
                                display: inline-flex
                                align-items: center
                                color: $text-color
                                letter-spacing: 0.2em
                                &::before
                                    @include size(1.417em, 1.792em)
                                    content: ""
                                    display: block
                                    margin-right: 0.45em
                                    background: url('../../icons/bringbring.png')
                                    background-size: contain
                                    background-repeat: no-repeat
                @keyframes fadeIn
                    from
                        opacity: 0
                    to
                        opacity: 1
            .skpcrad
                left: 8.25em
                width: 12em
                transition: transform 0.3s ease
                filter: drop-shadow(0px 0px 37px #FFA59A)
                // transform: perspective(1000px) rotateX(61deg) rotateY(11deg) rotateZ(-31deg) scale(1.05, 1.15)
                // transform: perspective(1000px) rotateX(25deg) rotateY(0deg) rotateZ(-12deg) scale(1.05, 1.15)
                transform: perspective(1000px) matrix(0.96, -0.27, 0.62, 0.78, 0, 0)
                &:hover
                    // transform: perspective(1000px) rotateX(0) rotateY(0) rotateZ(0) scale(1, 1)
                    transform: none
        &:nth-of-type(6)
            .content-inner
                > div:first-of-type
                    padding-left: 7.5%
                > div:last-of-type
                    padding-right: 7.5%
                &:first-of-type
                    padding-top: 6.5em
                    padding-bottom: 2em
                    ._leftHelf
                        img
                            width: 21.875em
                &:last-of-type
                    padding-top: 2em
                    padding-bottom: 5em
                    ._rightHelf
                        img
                            width: 28em
                
    #app-menu-fixed
        display: none
        align-items: center
        justify-content: space-around
        padding: 0.313rem 1.688rem 
        bottom: 60px
        width: 494px
        height: 90px
        background: rgba(255, 255, 255, 0.1)
        border-radius: 40px
        box-shadow: 0px 0px 10px rgba(25, 51, 81, 0.35)
        backdrop-filter: blur(30px)
        z-index: 9999
        a
            // @include size(5rem)
            padding: 0 0.938rem
            transition: all .25s
            &:not(.active)
                mix-blend-mode: luminosity
                opacity: 0.4

@media (max-width: 1399.98px)
    #app
        .section
            font-size: 15px

@media (max-width: 1299.98px)
    #app
        .section
            font-size: 14px

@media (max-width: 1199.98px)
    #app
        .section
            font-size: 13px

@media (max-width: 1099.98px)
    #app
        .section
            font-size: 12px