$header-height: 7.5rem
$header-top: 1rem
$text-color: #212966   
    
@mixin blurred-background($image-url)
  backdrop-filter: blur(5px)
  background-image: url('#{$image-url}')
  background-repeat: no-repeat
  background-position: center

@mixin size($w, $h: $w)
  width: $w
  height: $h

body
    padding: 0
    scroll-behavior: smooth

#app
    .section
        font-size: 16px
        min-height: 100vh
        .content,
        .glass
            position: absolute
            width: 85%
        .content
            > div:first-of-type
                padding-left: 8.5%
            > div:last-of-type
                padding-right: 8.5%
        &:nth-of-type(1)
            .content,
            .glass
                top: calc($header-height + $header-top + 5rem)
                height: 80vh
            .glass
                box-shadow: 4px 4px 10px rgba(25, 51, 81, 0.35)
                backdrop-filter: blur(30px)
                border-radius: 40px
                img:first-of-type
                    @include size(100%)
                    opacity: 0.4
            .app-img
                max-width: 100%
            .app-baibai
                left: -7.75rem
                bottom: -6.5rem
                width: 28em
        &:nth-of-type(2)
            .content,
            .glass
                top: 7rem
                height: 70vh
            .content
                > div:first-of-type
                    padding-left: 7.5%
                > div:last-of-type
                    padding-right: 7.5%
            .glass
                background: rgba(255, 255, 255, 0.1)
                box-shadow: 4px 4px 10px rgba(25, 51, 81, 0.35)
                backdrop-filter: blur(40px)
                border-radius: 40px
            .app-img
                bottom: -6rem
                > div
                    margin-left: auto
                    margin-right: auto
                    padding: 1.313rem 2.188rem
                    bottom: 43vh
                    left: 0
                    right: 0
                    font-size: 1.5em
                    line-height: 1.25em
                    letter-spacing: 1px
                    max-width: 420px
                    min-height: 220px
                    color: #629BF0
                    background: rgba(255, 255, 255, 0.08)
                    box-shadow: inset 0px 0px 20px #ABDCFF, inset 0px 4px 10px rgba(255, 255, 255, 0.3)
                    backdrop-filter: blur(10px)
                    border-radius: 40px
            .app-tab
                display: flex
                flex-wrap: wrap
                padding-top: 3rem
                padding-bottom: 4rem
                a
                    @include size(50%)
                    position: relative
                    img
                        margin-left: auto
                        margin-right: auto
                        height: 100%
                        object-fit: contain
                        transition: filter .25s
                    span
                        position: absolute
                        bottom: -1.25rem
                        left: 0
                        right: 0
                        text-align: center
                    &:hover img:nth-of-type(1)
                        filter: saturate(200%) blur(10px)
                > img
                    top: -3rem
    #app-menu-fixed
        display: none
        align-items: center
        justify-content: space-around
        padding: 0.313rem 1.688rem 
        bottom: 60px
        width: 494px
        height: 90px
        background: rgba(255, 255, 255, 0.1)
        border-radius: 40px
        box-shadow: 0px 0px 10px rgba(25, 51, 81, 0.35)
        backdrop-filter: blur(30px)
        z-index: 9999
        a
            // @include size(5rem)
            padding: 0 0.938rem
            transition: all .25s
            &:not(.active)
                mix-blend-mode: luminosity
                opacity: 0.4

//         &:nth-of-type(3)
//             padding: 8.5%
//             width: 100%
//             > *
//                 letter-spacing: 0.12em
//             .app-img
//                 img
//                     max-width: 505px
//                 > div
//                     padding: 18px 20px
//                     top: 24%
//                     left: -8%
//                     color: #FFFFFF
//                     background: #629BF0
//                     border-radius: 40px 40px 0px 40px
//                     box-shadow: 4px 4px 10px rgba(25, 51, 81, 0.35)
//                     backdrop-filter: blur(30px)
//                     opacity: 0
//                     transition: opacity 4.5s ease-in-out, top 5s ease-in
//             .app-img > div,
//             .content p,
//             .content .app-box
//                 font-size: 24px
//                 line-height: 30px
//             .content
//                 h3
//                     font-size: 40px
//                     line-height: 58px
//                     img
//                         top: -35%
//                         left: -20%
//                         z-index: -1
//                 .app-box
//                     padding: 18px 28px
//                     color: #629BF0
//                     background: rgba(255, 255, 255, 0.1)
//                     border-radius: 40px 40px 40px 0px
//                     box-shadow: 1px 4px 10px rgba(25, 51, 81, 0.35)
//                     backdrop-filter: blur(30px)

@media (max-width: 1399.98px)
    #app
        .section
            font-size: 15px

@media (max-width: 1299.98px)
    #app
        .section
            font-size: 14px

@media (max-width: 1199.98px)
    #app
        .section
            font-size: 13px

@media (max-width: 1099.98px)
    #app
        .section
            font-size: 12px


// @media (max-width: 1199.98px)
//     #app
//         .section
//             &:nth-of-type(3)
//                 .app-img > div,
//                 .content p,
//                 .content .app-box
//                     font-size: 20px
//                     line-height: 28px
//                 .app-img > div
//                     padding: 16px 18px
//                 .content
//                     h3
//                         font-size: 36px
//                         line-height: 48px

// @media (max-width: 1079.98px)
//     #app
//         .section
//             &:nth-of-type(3)
//                 .app-img > div,
//                 .content p,
//                 .content .app-box
//                         font-size: 18px
//                         line-height: 26px
//                 .app-img > div
//                     padding: 12px 14px
//                 .content
//                     h3
//                         font-size: 32px
//                         line-height: 45px