<header id="header-inner" class="fixed top-4 left-1/2 custom-w-90p backdrop-blur-md transform -translate-x-1/2 px-10 py-2.5 rounded-full flex items-center justify-between custom-box-shadow-2" style="transition: width 0.3s, top 0.3s;">
    <div class="flex h-full cursor-pointer" id="kinghoksu_Logo_gotoTop">
      <img id="logo" src="../src/assets/kinghoksu/App Logo.png" class="h-full object-contain" alt="Logo" />
      <div class="inline-flex flex-col items-center justify-center custom-font-Soukou text-2xl font-black ps-2.5" style="color: #212966; letter-spacing: 0.12em;">
        <h3 class="leading-7">濟福寺</h3>
        <h3 class="leading-7">景德祠</h3>
        <h3 class="leading-7">APP</h3>
      </div>
    </div>
    <ul class="flex items-center gap-4">
      <li class="mx-3 my-5 px-1 custom-font-color1">
        <a href="/" class="url-base move-horizontal flex items-center fs-03">
          Home
          <img src="../src/assets/icons/icon _arrow down circle_.png" class="w-14 lg:w-16 ps-1" alt="Arrow" />
        </a>
      </li>
    </ul>
</header>

<script>
    var baseUrl_header = window.location.pathname.startsWith('/Mika_Portfolio') ? '/Mika_Portfolio' : '';
    var homeLink = document.querySelector('.url-base');
    homeLink.href = baseUrl_header + '/';

    $(document).ready(function() {
      var header = $('#header-inner');
      var lastScrollTop = 0;

      $(window).scroll(function() {
        var scrollTop = $(this).scrollTop();

        if (scrollTop > lastScrollTop) {
          header.css('width', '50%');
          header.css('top', '-8.25rem');
        } else {
          header.css('width', '90%');
          header.css('top', '1rem');
        }

        lastScrollTop = scrollTop;
      });

      var kinghoksu_isScrolling = false;
      $('#kinghoksu_Logo_gotoTop').on('click', function() {
        if (!kinghoksu_isScrolling) {
          kinghoksu_isScrolling = true;
          $('html, body').animate({ scrollTop: 0 }, 750, function() {
            kinghoksu_isScrolling = false;
          });
        }
      });
    });
</script>