<script>
  var baseUrl_header = window.location.pathname.startsWith('/Mika_Portfolio') ? '/Mika_Portfolio' : '';
  var links = [
    {
      text: 'Home',
      url: '/'
    },
    {
      text: 'About',
      url: '/about'
    },
    // {
    //   text: 'Contact',
    //   url: '/contact'
    // }
  ];

  var linkHtml = '';
  links.forEach(function(link) {
    var url = baseUrl_header + link.url;

    linkHtml += `
      <li class="mx-3 my-5 px-1 custom-font-color1">
        <a href="${url}">
          ${link.text}
        </a>
      </li>
    `;
  });

  var headerHtml = `
    <header class="fixed top-4 left-1/2 custom-w-90p backdrop-blur-md transform -translate-x-1/2 px-10 py-2.5 rounded-full flex items-center justify-between custom-box-shadow-1">
      <a href="${baseUrl_header + '/'}">
        <!-- img id="logo" src="/src/assets/icons/head_color.png" class="" style="width: 80px; height: 90px;" alt="Logo" -->
        <div id="lottie-container-logo"></div>
      </a>
      <ul class="flex items-center gap-4">
        ${linkHtml}
        <li>
          <a class="inline-flex items-center px-7 py-4 font-medium leading-tight border border-solid border-black rounded-full capitalize dad-hover-img-filter-invert hover:text-white hover:bg-black"
            style="letter-spacing: 0.125rem;"
            href="link-to-resume.pdf"
            download
          >
            <img class="custom-w-5_5 custom-h-5_5 object-contain me-2"
              src="https://uploads-ssl.webflow.com/637d811b57fdde36a2c0ad03/63837ea016814d1c2fbdd8bb_download.svg"
              alt="Download Icon"
            >
            Resume
          </a>
        </li>
      </ul>
    </header>
  `;

  $('#header').html(headerHtml);

  var lottieContainer_Logo = document.getElementById("lottie-container-logo");

  var animation_logo = lottie.loadAnimation({
    container: lottieContainer_Logo,
    renderer: "svg",
    loop: false,
    autoplay: false,
    path: "https://uploads-ssl.webflow.com/637d811b57fdde36a2c0ad03/637e022b9f3c794a5f1dd053_head.json"
  });

  lottieContainer_Logo.addEventListener("mouseenter", function() {
    animation_logo.setDirection(1); // 設置播放方向為正向
    animation_logo.play();
  });

  lottieContainer_Logo.addEventListener("mouseleave", function() {
    animation_logo.setDirection(-1); // 設置播放方向為倒轉
    animation_logo.play();
  });

  animation_logo.setSpeed(2);
</script>