<header class="fixed top-4 left-1/2 w-11/12 backdrop-blur-md transform -translate-x-1/2 px-10 py-2.5 rounded-full flex items-center justify-between custom-box-shadow-2">
    <div class="flex">
      <img id="logo" src="../src/assets/kinghoksu/App Icon@3x 2.png" class="w-20 h-20 object-contain" alt="Logo" />
      <div class="inline-flex flex-col items-center justify-center custom-font-NotoSerif text-2xl font-black ps-2.5" style="color: #212966; letter-spacing: 0.12em;">
        <h3>景德祠</h3>
        <h3>APP</h3>
      </div>
    </div>
    <ul class="flex items-center gap-4">
      <li class="mx-3 my-5 px-1 custom-font-color1">
        <a href="/" class="url-base move-horizontal flex items-center">
          Home
          <img src="../src/assets/icons/icon _arrow down circle_.png" class="w-14 lg:w-16 ps-1" alt="Arrow" />
        </a>
      </li>
    </ul>
</header>

<script>
  var baseUrl_header = window.location.pathname.startsWith('/Mika_Portfolio') ? '/Mika_Portfolio' : '';
  var homeLink = document.querySelector('.url-base');
  homeLink.href = baseUrl_header + '/';
</script>