<div class="px-12 tracking-wide">
    <img src="../src/assets/kinghoksu/img/meow3.png" class="mx-auto mb-6" style="width: 12em;" />
    <h3 class="text-5xl font-bold pb-2 text-center">不好意思～ </h3>
    <h3 class="text-2xl leading-relaxed">因為怕手機版動畫與視覺體驗不佳(｡•ㅅ•｡)♡</h3>
    <h3 class="pt-2 text-xl leading-normal">所以頁面目前只有 1024px 以上的版本喔！</h3>
    <p class="pt-2 font-bold">再麻煩您使用電腦開啟拉，謝謝啦 <3</p>
    <hr class="mt-4 w-full border-zinc-300" />
    <p class="pt-4 whitespace-pre-line max-w-md text-center" style="line-height: 1.25;">I apologize for the inconvenience.
        Due to concerns about the animation and user experience on mobile devices, the page is currently only optimized for screen resolutions above 1024px.
        Please access the page using a computer for the best experience. Thank you for your understanding!
    </p>
</div>