<footer class="flex flex-col items-center mt-30 mx-10 pb-1 custom-border-t-1 border-solid custom-border-color-1">
    <div class="inline-flex justify-center custom-gap-1 w-full pb-20 whitespace-nowrap">
        <div>
            <h3 class="custom-font-Inknut mt-5 mb-2.5 font-medium text-2xl"> Let’s Work Together- </h3>
            <p>✉️ asl98549@gmail.com</p>
        </div>
        <div>
            <h3 class="custom-font-Inknut mt-5 mb-2.5 font-medium text-2xl"> Find Me Here- </h3>
            <img class="w-16 h-16 object-contain" src="https://uploads-ssl.webflow.com/637d811b57fdde36a2c0ad03/63837ca83b3c2ea1ca0e6c1e_linkedin_.svg" loading="lazy" alt="in">
        </div>
    </div>
    <p>All content and images Copyright © <span id="currentYear"></span> Mika Chou</p>
</footer>

<script>
    var currentYear = new Date().getFullYear();
    document.getElementById('currentYear').textContent = currentYear;
</script>